/* header */
/* nav */
.navbar{
    height: 83px;
   background-color:rgba(63,67,52,0.6);
}
.navbar .container{
    margin: 11.5px auto;
}
.navbar .container .nav li> a{
    color: #c0c6c6;
    font-weight: bold;
    font-family: Franklin Gothic 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .container .nav li>a:hover{
    color: white;
}
#navbar-brand{
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #fff !important;
}
.navbar .container .nav li{
    margin-left: 15px;
}
.navbar .container .nav>.show {
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    background-color: none;
   
}
.navbar .container .nav>.show>a{
    color: #fff;
}